{% extends 'base.html' %}

{% block content %}
<h2>Ayam mueheheh</h2>
<!-- <ul>
    {% for discount in discounts %}
        <li>{{ discount.discount_percentage }}% off at {{ discount.shop_name }} (Valid until: {{ discount.end_date }})</li>
    {% endfor %}
</ul>

<h2>Available Promotions</h2>
<ul>
    {% for promotion in promotions %}
        <li>{{ promotion.promotion_type }} promotion - {{ promotion.description }} (Valid until: {{ promotion.end_date }})</li>
    {% endfor %}
</ul> -->
{% endblock %}
