{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<div class="bg-primaryBackground w-full min-h-screen pt-32 px-5 sm:px-10 lg:px-20">
    <div class="flex flex-row gap-4 md:gap-10 mb-6 py-1.5 pl-5 pr-1.5 rounded-md items-center bg-gradient-to-r from-orange-500 to-tertiaryBackground">
        <p class="font-manrope text-primary-white font-bold">Date &amp; Time</p>
        <div class="flex flex-grow border-b-[1.5px] border-primary-black"></div>
        <div class="bg-primary-white px-2 rounded-sm"><span class="font-manrope font-black">{{ date_time }}</span></div>
    </div>
    <div class="flex flex-row gap-2 md:gap-8 lg:gap-12 items-center">
        <div class="flex flex-row gap-1 md:gap-2 items-center">
            <p class="font-playfair text-2xl md:text-4xl font-bold">Wishlist</p>
            <div class="w-2 md:w-4 border-b-[3px] h-3 border-primary-black"></div>
            <p class="text-2xl md:text-4xl font-semibold font-playfair">@{{ user.username }}</p>
        </div>
        <div class="flex flex-grow border-b-[3px] h-3 border-primary-black"></div>
        <i class="fa fa-solid fa-basket-shopping text-primary-black text-xl md:text-2xl mt-2"></i>
    </div>

    <div class="flex flex-row gap-4 mt-5">
        <a href="{% url 'usermanagement:add_wishlist' %}">
            <button class="bg-orange-500 text-primary-white font-manrope font-semibold py-1 px-5 rounded-lg hover:bg-hoverPrimary">
                <span>Add foods to your wishlist now</span> <i class="fa fa-solid fa-heart"></i>
            </button>
        </a>

        <a href="{% url 'usermanagement:clear_wishlist' %}">
            <button class="bg-orange-500 text-primary-white font-manrope font-semibold py-1 px-5 rounded-lg hover:bg-hoverPrimary {% if not wishlists %}hover:bg-orange-500 opacity-50 cursor-not-allowed{% endif %}" {% if not wishlists %}disabled{% endif %}>
                Clear
            </button>
        </a>
    </div>
    
    {% if wishlists %}
        <h1>Wishlist</h1>
        <table>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Remove</th>
            </tr>
            {% for item in wishlists %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }}</td>
                <td>
                    <a href="{% url 'usermanagement:delete_wishlist' id=item.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="flex flex-col justify-center items-center py-10 opacity-40">
            <img src="{% static 'images/empty-wishlist-logo.png' %}" alt="Empty Wishlist" class="w-40 md:w-64 lg:w-72">
            <p class="font-playfair font-bold text-3xl ml-1">Your wishlist is empty :(</p>
        </div>
    {% endif %}
</div>

{% include 'footer.html' %}
{% endblock content %}