{% load static %}
<div class="flex flex-col">
    <nav class="font-playfair bg-primaryBackground fixed z-50 w-full flex h-28 px-10 lg:px-20 py-5 lg:shadow-lg lg:shadow-primaryBackground">
        <div class="flex flex-row justify-between items-center w-full border-t-2 border-b-2 border-secondary-black rounded-sm font-manrope">
            <div>
                <a href="{% url 'main:show_main' %}">
                    <img src="{% static 'images/depokrasa-logo.png' %}" alt="DepokRasa" class="h-10 xl:h-12 mt-1">
                </a>
            </div>

            <div class="hidden lg:flex flex-row text-lg xl:text-xl font-bold gap-5 xl:gap-8 items-center">
                {% url 'main:show_main' as show_main_url %}
                <a href="" class="border-r-[3.1px] border-gray-300 pr-5 xl:pr-8 {% if request.path == url %}text-tertiaryBackground{% else %}text-secondary-black hover:text-primary-black{% endif %}">
                    <h5>Menus</h5>
                </a>
                {% url 'main:show_main' as show_main_url %} <!-- Change this line to match the url -->
                <a href="" class="border-r-[3.1px] border-gray-300 pr-5 xl:pr-8 {% if request.path == url %}text-tertiaryBackground{% else %}text-secondary-black hover:text-primary-black{% endif %}">
                    <h5>Restaurants</h5>
                </a>
                {% url 'promotions_discounts' as discounts_url %}
                <a href="" class="border-r-[3.1px] border-gray-300 pr-5 xl:pr-8 {% if request.path == discounts_url %}text-tertiaryBackground{% else %}text-secondary-black hover:text-primary-black{% endif %}">
                    <h5>Discounts</h5>
                </a>                
                </a>                
                {% url 'main:show_main' as show_main_url %} <!-- Change this line to match the url -->
                <a href="" class="border-r-[3.1px] border-gray-300 pr-5 xl:pr-8 {% if request.path == url %}text-tertiaryBackground{% else %}text-secondary-black hover:text-primary-black{% endif %}">
                    <h5>Blogs</h5>
                </a>
                {% url 'main:show_main' as show_main_url %} <!-- Change this line to match the url -->
                <a href="" class="{% if request.path == url %}text-tertiaryBackground{% else %}text-secondary-black hover:text-primary-black{% endif %}">
                    <h5>Feedback &amp; Support</h5>
                </a>
            </div>

            <div class="flex flex-row gap-2 mr-4 justify-center items-center">
                <div class="text-primary-black text-xl xl:text-2xl w-10 h-10 flex justify-center items-center rounded-full hover:bg-hoverBackground cursor-pointer">
                    <i class="fa fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="lg:flex flex-col relative hidden">
                    <div id="userProfile" class="text-primary-black text-xl xl:text-2xl w-10 h-10 flex justify-center items-center rounded-full hover:bg-hoverBackground cursor-pointer">
                        <i class="fa fa-regular fa-user"></i>
                    </div>
                    <div id="profileModal" class="hidden absolute -left-52 top-10 w-54 xl:w-64 bg-primaryBackground border-2 border-primary-black shadow-lg rounded-md p-4 z-50">
                        <a href='{% url "usermanagement:profile" %}' class="text-lg font-bold mb-1 px-1.5 flex flex-row items-center gap-2 w-full hover:bg-hoverBackground">
                            <i class="fa fa-solid fa-gear"></i>
                            <span class="text-xl pb-0.5">Settings</span>
                        </a>
                        <a href='{% url "authentication:logout" %}' class="flex flex-row items-center gap-2 text-red-500 hover:bg-red-500 hover:text-primaryBackground px-2 py-0.5 w-max rounded-lg">
                            <i class="fa fa-solid fa-arrow-right-from-bracket"></i>
                            <span class="font-semibold text-xl">Logout<span>
                        </a>
                    </div>
                </div>
                <div class="lg:hidden flex text-primary-black text-2xl w-10 h-10 justify-center items-center rounded-full">
                    <i id="menuToggle" class="fa fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </nav>

    <!-- Mobile menu -->
    <div id="mobile-menu" class="hidden fixed flex flex-col z-0 w-full text-xl font-bold gap-8 items-center bg-primaryBackground border-b-2 border-primary-black mt-28 navbar-slide-down">
        {% url 'main:show_main' as show_main_url %}
        <a href="" class="{% if request.path == url %}text-tertiaryBackground{% else %}text-secondary-black hover:text-primary-black{% endif %}">
            <h5>Menus</h5>
        </a>
        {% url 'main:show_main' as show_main_url %} <!-- Change this line to match the url -->
        <a href="" class="{% if request.path == url %}text-tertiaryBackground{% else %}text-secondary-black hover:text-primary-black{% endif %}">
            <h5>Restaurants</h5>
        </a>
        {% url 'promotions_discounts' as discounts_url %} <!-- Change this line to match the url -->
        <a href="" class="{% if request.path == url %}text-tertiaryBackground{% else %}text-secondary-black hover:text-primary-black{% endif %}">
            <h5>Discounts</h5>
        </a>
        {% url 'main:show_main' as show_main_url %} <!-- Change this line to match the url -->
        <a href="" class="{% if request.path == url %}text-tertiaryBackground{% else %}text-secondary-black hover:text-primary-black{% endif %}">
            <h5>Blogs</h5>
        </a>
        {% url 'main:show_main' as show_main_url %} <!-- Change this line to match the url -->
        <a href="" class="{% if request.path == url %}text-tertiaryBackground{% else %}text-secondary-black hover:text-primary-black{% endif %}">
            <h5>Feedback &amp; Support</h5>
        </a>

        <a href='{% url "usermanagement:profile" %}' class="text-lg font-bold flex flex-row items-center gap-2">
            <i class="fa fa-solid fa-gear"></i>
            <span class="text-xl pb-0.5">Settings</span>
        </a>
        
        <a href='{% url "authentication:logout" %}' class="flex flex-row items-center gap-2 text-red-500 w-max mb-8">
            <i class="fa fa-solid fa-arrow-right-from-bracket"></i>
            <span class="font-semibold text-xl">Logout<span>
        </a>
    </div>
</div>

<script>
    // Profile Modal
    const userProfile = document.getElementById('userProfile');
    const profileModal = document.getElementById('profileModal');

    userProfile.addEventListener('click', () => {
        profileModal.classList.toggle('hidden');
    });

    window.addEventListener('click', (e) => {
        if (!profileModal.contains(e.target) && !userProfile.contains(e.target)) {
            profileModal.classList.add('hidden');
        }
    });

    // Mobile Navbar
    document.addEventListener('DOMContentLoaded', function () {
        const menuToggle = document.getElementById('menuToggle');
        const mobileMenu = document.getElementById('mobile-menu');

        menuToggle.addEventListener('click', function () {
            if (mobileMenu.classList.contains('hidden')) {
                mobileMenu.classList.remove('hidden');
                mobileMenu.classList.remove('animate-slideUp');
                mobileMenu.classList.add('animate-slideDown');
            } else {
                mobileMenu.classList.remove('animate-slideDown');
                mobileMenu.classList.add('animate-slideUp');
                setTimeout(() => {
                    mobileMenu.classList.add('hidden');
                }, 500);
            }
        });
    });
</script>