<div class="relative break-inside-avoid bg-white rounded-lg shadow-md overflow-hidden border border-gray-300 hover:shadow-lg transition-shadow duration-300">
    <!-- Card Content -->
    <div class="p-6">
      {% for restaurant in restaurants %}
        <div class="flex items-center justify-between mb-4">
          <!-- Product Name and Price -->
          <h3 class="text-2xl font-semibold text-gray-900">{{ restaurant.menu.0.food_name }}</h3> 
          <p class="text-lg font-bold text-green-500">Rp{{ restaurant.menu.0.price }}</p> 
        </div>
  
        <p class="text-gray-600 text-sm mb-4">{{ restaurant.name }}</p> 
      {% endfor %}
    </div>
  </div>
  