{% extends "base.html" %}
{% block content %}
{% include 'navbar.html' %}

<div class="bg-primaryBackground w-full min-h-screen pt-32 px-20">
    <div class="border-2 border-secondary-black w-full h-[38rem]">
        <div id="news-header"></div>
        <div id="news-content"></div>
    </div>

    <!-- Display Food Cards -->
    <div class="container mx-auto py-10">
        <!-- Grid container untuk 1 kolom di mobile, 2 kolom di small screens, dan 3 kolom di medium screens -->
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
          {% for restaurant in restaurants %}
            {% for menu_item in restaurant.menu %}
              <div class="bg-white rounded-lg shadow-md overflow-hidden relative">
                <div class="relative">
                  <!-- Menampilkan gambar menu dengan ukuran yang berbeda-beda -->
                  <img src="{{ menu_item.image_url }}" alt="{{ menu_item.food_name }}" class="w-full h-60 object-cover">
                </div>
                <div class="p-4 space-y-2">
                  <p class="text-lg font-semibold">{{ menu_item.food_name }}</p>
                  <p class="text-gray-500">{{ restaurant.name }}</p>
                  <div class="mt-4 flex items-center justify-between">
                    <!-- Harga ditempatkan di sebelah kiri -->
                    <p class="text-green-700 font-bold text-xl">Rp{{ menu_item.price }}</p>
                    <!-- Tombol lebih kecil -->
                    <button class="bg-green-700 text-white font-bold py-2 px-4 rounded-lg text-sm">Add to wishlist</button>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
    </div>

<script>
    async function getNews() {
        return fetch("{% url 'main:show_news_json' %}")
            .then(response => response.json())
            .catch(error => console.error(error));
    }

    async function refreshNews() {
        document.getElementById('news-content').innerHTML = '';
        document.getElementById('news-content').className = '';

        document.getElementById('news-header').innerHTML = '';
        document.getElementById('news-header').className = '';

        const news = await getNews();
        // News header
        let htmlStringHeader = '';
        let classNameStringHeader = '';

        if(news.length === 0) {
          htmlStringHeader = `
            <div class="text-center text-lg font-semibold p-4">
              No news available
            </div>
          `
        } else {
          classNameStringHeader = 'flex flex-row justify-between divide-x-2 divide-secondary-black';
          news.forEach((newsItem, index) => {
            htmlStringHeader += `
                <div class="text-center text-lg font-playfair  font-black w-full py-2">
                    ${String(index + 1).padStart(2, '0')}
                </div>
            `
          });
        }

        // Mews content
        let htmlString = '';
        let classNameString = '';

        if(news.length === 0) {
            htmlString = `
                <div class="text-center text-lg font-semibold p-4">
                    No news available
                </div>
            `
        } else {
            classNameString = 'p-4';
            news.forEach((newsItem) => {
                htmlString += `
                    <div class="text-lg font-semibold">
                        ${newsItem.title}
                    </div>
                    <div class="text-sm">
                        ${newsItem.content}
                    </div>
                    <div class="text-sm">
                        ${newsItem.date}
                    </div>
                    <br>
                `
            });
        }

        document.getElementById('news-header').innerHTML = htmlStringHeader;
        document.getElementById('news-header').className = classNameStringHeader;

        document.getElementById('news-content').innerHTML = htmlString;
        document.getElementById('news-content').className = classNameString;
    }
    refreshNews();
</script>

{% include 'footer.html' %}
{% endblock %}
